
{% extends 'base.html' %}
{% block content %}
<div class="card shadow-sm">
  <div class="card-body">
    <h5>Register Citizen</h5>
    <form method="post">
      <div class="row g-2">
        <div class="col-md-6"><input class="form-control" name="firstname" placeholder="First name" required></div>
        <div class="col-md-6"><input class="form-control" name="lastname" placeholder="Last name" required></div>
      </div>
      <div class="row g-2 mt-2">
        <div class="col-md-6"><input class="form-control" name="mobile" placeholder="Mobile" required></div>
        <div class="col-md-6"><input class="form-control" name="aadhar" placeholder="Aadhar" required></div>
      </div>
      <div class="mt-3"><input class="form-control" name="address" placeholder="Address"></div>
      <div class="mt-3"><button class="btn btn-primary">Register</button></div>
    </form>
  </div>
</div>
{% endblock %}
